﻿img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.wheel-wrap {
    position: relative;
    width: 627px;
    height: 586px;
    overflow: hidden;
    margin: 0 auto;
	padding-bottom:25px;
    z-index: 1;
    background: url(/games/wheel_js/images/background.png) repeat;
}

    .wheel-wrap .user-status {
        text-align: center;
        padding: 20px;
        color: #CCCCCC;
        font-weight: bold;
        font-size: 14px;
    }

    .wheel-wrap .marker {
        top: 76px;
        left: 294px;
        z-index: 4;
        position: absolute;
    }

    .wheel-wrap .button {
        top: 0px;
        left: 0px;
        z-index: 4;
        position: absolute;
    }

        .wheel-wrap .button.disabled {
            opacity: 0.4;
        }

    .wheel-wrap .lights {
        top: 0px;
        left: 0px;
        z-index: 1;
        position: absolute;
    }

    .wheel-wrap .wheel {
        top: 110px;
        left: 100px;
        z-index: 2;
        position: absolute;
    }

@-webkit-keyframes oscillation {
    from {
        -webkit-transform: rotate(-9deg);
    }

    to {
        -webkit-transform: rotate(9deg);
    }
}

@-moz-keyframes oscillation {
    from {
        -moz-transform: rotate(-9deg);
    }

    to {
        -moz-transform: rotate(9deg);
    }
}

@-o-keyframes oscillation {
    from {
        -o-transform: rotate(-9deg);
    }

    to {
        -o-transform: rotate(9deg);
    }
}

@keyframes oscillation {
    from {
        transform: rotate(-12deg);
    }

    to {
        transform: rotate(12deg);
    }
}

.wheel-wrap .oscillate {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: oscillation 1s ease-in-out infinite alternate;
    -moz-animation: oscillation 1s ease-in-out infinite alternate;
    -o-animation: oscillation 1s ease-in-out infinite alternate;
    animation: oscillation 1s ease-in-out infinite alternate;
}

.wheel-wrap .msg-wrap {
    width: 302px;
    height: 150px;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url('images/msg.png') no-repeat;
    z-index: 5;
}

    .wheel-wrap .msg-wrap .msg {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 302px;
        height: 150px;
        font-size: 14px;
        font-weight: bold;
    }

    .wheel-wrap .msg-wrap .close {
        right: 3px;
        position: absolute;
        bottom: 1px;
        cursor: pointer;
    }
